{% load i18n %}

<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3" role="navigation">
  {% block home_button %}
    <a class="navbar-brand" href="{% url 'station_list' %}">{% trans "Stations" %}</a>
  {% endblock %}

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse" id="navbarSupportedContent">
    {% block search %}
      {% include "enhydris/base/search.html" %}
    {% endblock %}
    {% block menu %}
      <ul class="navbar-nav ml-auto">
        <user-menu-items></user-menu-items>
      </ul>
    {% endblock %}
  </div>
</nav>
