{% load i18n %}
<table class="table table-hover table-condensed">
  <tr>
    <th>{% trans 'ID' %}</th>
    <td>{{ variable.id }}</td>
  </tr>
  <tr>
    <th>{% trans 'Related Station' %}</th>
      <td><a href="{% url "station_detail" variable.gentity.id %}">{{ variable.gentity.name }}</a></td>
  </tr>
  <tr>
    <th>{% trans 'Name' %}</th>
    <td>{{ variable.name }}</td>
  </tr>
  <tr>
    <th>{% trans 'Variable type' %}</th>
    <td>{{ variable.variable_type }}</td>
  </tr>
  <tr>
    <th>{% trans 'Unit Of Measurement' %}</th>
    <td>{{ variable.unit_of_measurement }}</td>
  </tr>
  <tr>
    <th>{% trans 'Precision' %}</th>
    <td>{{ variable.precision }}</td>
  </tr>
  <tr>
    <th>{% trans 'Time Zone' %}</th>
    <td>{{ variable.time_zone }}</td>
  </tr>
  <tr>
    <th>{% trans 'Remarks' %}</th>
    <td>{{ variable.remarks }}</td>
  </tr>
  <tr>
    <th>{% trans 'Start Date' %}</th>
    <td>{{ variable.start_date|date:"Y/m/d H:i" }}</td>
  </tr>
  <tr>
    <th>{% trans 'End Date' %}</th>
    <td>{{ variable.end_date|date:"Y/m/d H:i" }}</td>
  </tr>
  <tr>
    <th>{% trans 'Time step' %}</th>
    <td>{% if not variable.time_step %}
          {% trans 'Variable' %}
        {% else %}
          {{ variable.time_step }}
        {% endif %}
    </td>
  </tr>
</table>
