{% extends "enhydris/base/main.html" %}
{% load i18n %}


{% block title %}
  {{ variable.name }} (id={{ variable.id }}) — {{ variable.gentity }} — {{ block.super }}
{% endblock %}


{% block mainjs %}
  {{ block.super }}
  {% include "enhydris/variable_detail/chartjs.html" %}
{% endblock %}


{% block content%}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h5>{{ variable.related_station }} - {{ variable.name }}</h5>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-5">
                {% include "enhydris/variable_detail/chart.html" %}
              </div>
                  
              <div class="col-md-7">
                {% include "enhydris/variable_detail/download.html" %}
                <div class="table-responsive">
                  {% include "enhydris/variable_detail/details_table.html" %}
                </div>
              </div>

              {% if display_copyright and variable.related_station %}
                <div class="panel-footer">
                  © <span class="text-warning">
                      {{ variable.related_station.copyright_years }}
                      {{ variable.related_station.copyright_holder }}
                    </span>
                </div>
              {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
